*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header-brand {
    margin-right: 20%;
}

.header-link-img {
    color: white;
    text-decoration: none;
}

.header-img {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content:right;
}

.header-total {
    width: 30%;
}

.header-sep {
    margin-right: 5%;
}

.header-link-1 {
    display: flex;
    color: white;
    text-decoration: none;
    font-size: 140%;
    font-family: "Gemunu Libre";
}

.header-link-1-img{
    width: 40%;
    /* height: 20px; */
}


@media (max-width:500px){
    .header-link-1 {
        font-size: 100%;
        flex-direction: column;
    }
    .header-link-1-img{
        width: 65%;
        height: 30px;
    }
    .header-brand {
        margin-right: 50%;
    }
}