*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container-tablecart {
    width: 70%;
    margin: auto ;
    margin-top: 100px;
    text-align: center;
}

.container-cart{
    height: 100vh;
    background-color: black;
}

@media (min-width:500px){
    .cart-img{
        display:none
    }

    .container-tablecart{
        width: 60%;
        margin: 5%;
        margin-top: 30%;
        
    }
}